<div class="app-container">    
  <main class="app-content">
    <!-- Mobile View -->
    <div class="mobile-view">
      <div class="view-toggle">
        <mat-button-toggle-group [(ngModel)]="mobileView">
          <mat-button-toggle value="tasks">
            <mat-icon>list</mat-icon>
            Tasks
          </mat-button-toggle>
          <mat-button-toggle value="matrix">
            <mat-icon>grid_view</mat-icon>
            Matrix
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      
      <div class="mobile-section" *ngIf="mobileView === 'tasks'">
        <app-input-task></app-input-task>
      </div>
      <div class="mobile-section" *ngIf="mobileView === 'matrix'">
        <app-matrix></app-matrix>
      </div>
    </div>

    <!-- Desktop View -->
    <div class="split-container desktop-view">
      <as-split direction="horizontal" gutterSize="8" [useTransition]="true">
        <as-split-area [size]="40" [minSize]="30" class="split-area">
          <app-input-task></app-input-task>
        </as-split-area>
        <as-split-area [size]="60" [minSize]="40" class="split-area">
          <app-matrix></app-matrix>
        </as-split-area>
      </as-split>
    </div>
  </main>
</div>
