<div class="input-panel">
    <mat-card class="task-list-card">
      <h2 class="task-list-title">Task List</h2>
  
      <div *ngIf="!isEditMode" class="inline-form">
        <mat-form-field appearance="outline" class="inline-input">
          <mat-label>Title</mat-label>
          <input title="Title" matInput [(ngModel)]="title" name="title" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="inline-input">
          <mat-label>Description</mat-label>
          <input title="Description" matInput [(ngModel)]="description" name="description" required />
        </mat-form-field>
  
        <div class="slider-container">
          <label class="slider-label">Urgency</label>
          <ngx-slider [(ngModel)]="urgent" [options]="urgentOptions" name="urgent"></ngx-slider>
        </div>
  
        <div class="slider-container">
          <label class="slider-label">Importance</label>
          <ngx-slider [(ngModel)]="important" [options]="importantOptions" name="important"></ngx-slider>
        </div>
  
        <button mat-raised-button color="primary" (click)="addOrUpdateTask()">{{ isEditMode ? 'Update Task' : 'Add Task' }}</button>
      </div>
      <div class="task-list-container">
        <div cdkDropListGroup class="task-list">
            <div *ngFor="let task of tasks" cdkDrag class="task-item">
            <mat-list-item>
                <div *ngIf="editedTaskId !== task.id">
                <span class="task-text">{{ task.title }} - {{ task.description }}</span>
                <button mat-icon-button (click)="editTask(task)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="deleteTask(task.id)"><mat-icon>delete</mat-icon></button>
                </div>
                <div *ngIf="editedTaskId === task.id" class="inline-form">
                <mat-form-field appearance="outline" class="inline-input">
                    <mat-label>Title</mat-label>
                    <input title="Title" matInput [(ngModel)]="title" name="title" required />
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="inline-input">
                    <mat-label>Description</mat-label>
                    <input title="Title" matInput [(ngModel)]="description" name="description" required />
                </mat-form-field>
    
                <div class="slider-container">
                    <label class="slider-label">Urgency</label>
                    <ngx-slider [(ngModel)]="urgent" [options]="urgentOptions" name="urgent"></ngx-slider>
                </div>
    
                <div class="slider-container">
                    <label class="slider-label">Importance</label>
                    <ngx-slider [(ngModel)]="important" [options]="importantOptions" name="important"></ngx-slider>
                </div>
    
                <button mat-raised-button color="primary" (click)="addOrUpdateTask()">Update</button>
                <button mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>
                </div>
            </mat-list-item>
            </div>
        </div>
      </div>
      <div class="button-group">
        <button mat-raised-button color="accent" (click)="autoSort()">Visualize</button>
        <button mat-raised-button color="warn" (click)="clearAll()">Clear All</button>
      </div>
    </mat-card>
  </div>
  