<div class="matrix-panel">
    <h2>Eisenhower Matrix <button mat-icon-button (click)="resetMatrix()"><mat-icon>refresh</mat-icon></button></h2>
    <as-split direction="vertical" gutterSize="10">
      <as-split-area [size]="50">
        <as-split direction="horizontal" gutterSize="10">
          <as-split-area [size]="50">
            <div class="quadrant" cdkDropList [cdkDropListData]="quadrants[0].tasks" (cdkDropListDropped)="drop($event)">
              <h3>{{ quadrants[0].title }}</h3>
              <div *ngFor="let task of quadrants[0].tasks" cdkDrag>
                <mat-list-item>{{ task.title }} - {{ task.description }}</mat-list-item>
              </div>
            </div>
          </as-split-area>
          <as-split-area [size]="50">
            <div class="quadrant" cdkDropList [cdkDropListData]="quadrants[1].tasks" (cdkDropListDropped)="drop($event)">
              <h3>{{ quadrants[1].title }}</h3>
              <div *ngFor="let task of quadrants[1].tasks" cdkDrag>
                <mat-list-item>{{ task.title }} - {{ task.description }}</mat-list-item>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area [size]="50">
        <as-split direction="horizontal" gutterSize="10">
          <as-split-area [size]="50">
            <div class="quadrant" cdkDropList [cdkDropListData]="quadrants[2].tasks" (cdkDropListDropped)="drop($event)">
              <h3>{{ quadrants[2].title }}</h3>
              <div *ngFor="let task of quadrants[2].tasks" cdkDrag>
                <mat-list-item>{{ task.title }} - {{ task.description }}</mat-list-item>
              </div>
            </div>
          </as-split-area>
          <as-split-area [size]="50">
            <div class="quadrant" cdkDropList [cdkDropListData]="quadrants[3].tasks" (cdkDropListDropped)="drop($event)">
              <h3>{{ quadrants[3].title }}</h3>
              <div *ngFor="let task of quadrants[3].tasks" cdkDrag>
                <mat-list-item>{{ task.title }} - {{ task.description }}</mat-list-item>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
  