<div class="matrix-container">
    <h2 class="matrix-title">
      Eisenhower Matrix
      <button mat-icon-button (click)="resetMatrix()" aria-label="Reset Matrix">
        <mat-icon>refresh</mat-icon>
      </button>
    </h2>
  
    <div class="matrix-grid">
      <div *ngFor="let quadrant of quadrants; let i = index" class="quadrant" cdkDropList [cdkDropListData]="quadrant.tasks" (cdkDropListDropped)="drop($event)">
        <h3>{{ quadrant.title }}</h3>
        <div *ngFor="let task of quadrant.tasks" cdkDrag class="task-item" [@fadeIn]>
          <mat-list-item>
            <span [title]="task.title + ' - ' + task.description" class="task-text">{{ task.title }} - {{ task.description }}</span>
          </mat-list-item>
        </div>
      </div>
      <div class="arrows">
        <svg class="arrow-svg" viewBox="0 0 200 200" preserveAspectRatio="xMidYMid meet">
          <defs>
            <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
              <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
          </defs>
          <line x1="200" y1="100" x2="0" y2="100" stroke="black" stroke-width="2" marker-end="url(#arrowhead)" />
          <line x1="100" y1="200" x2="100" y2="20" stroke="black" stroke-width="2" marker-end="url(#arrowhead)" />
        </svg>
      </div>
    </div>
  </div>
  